/* Footer container */
.footer-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0;

}


 /* a */
 li > a {
    color: black;
    text-decoration: none;
    
}
li > a:hover {
    color: greenyellow;
}

/* Cols */
.list-unstyled {
    margin-top: 19%;
    margin-left: 15%;
}