/* Img background */

.hero-container {
  background-image: url(https://st3.idealista.pt/cms/arquivos/styles/idcms_social_large_desktop/public/2019-06/media/image/best_0.jpg?fv=wel1LcQB&itok=NkrUqG3S);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Search fields */
#root > div:nth-child(4) > form > div:nth-child(1) > select, #root > div:nth-child(4) > form > div:nth-child(2), #root > div:nth-child(4) > form > div:nth-child(3), #root > div:nth-child(4) > form > div.ms-3.mb-2.input-group {
  height: 50px;
  
}

/*I search field */
#root > div:nth-child(4) > form > div:nth-child(1) > select {
  margin-top: 60px;
}

.fade-in {
  animation: fadeIn forwards 2.5s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

.fade-in1 {
  animation: fadeIn forwards 3.5s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

