.success {
    padding: 1rem;
    background-color: rgb(239, 72, 206);
    color: #fff;
    position: absolute;
    z-index: 9999999999;
    margin-left: 32%;
    margin-top: 6.5%;
    border-radius: 8px;
  }

  .error {
    padding: 1rem;
    background-color: #f00;
    color: #fff;
    position: absolute;
    z-index: 9999999999;
    margin-left: 34%;
    margin-top: 6.5%;
    border-radius: 8px;
  }